<div class="index-container">
  <div class="index-img-container">
    <img class="thor" src="../../images/thor.png" alt="">
    <img class="diana" src="../../images/diana.png" alt="">
  </div>
  <div class="index-text">
    <h4>Shifts happen.<br /> But you can still make this happen ;)</h4>
  </div>
</div>
