@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,700');

* {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  justify-content: center;
}

.logo {
 width: 50px;
 align-self: center;
 padding-bottom: 0 !important;
}

.logo-name {
  display: flex;
  width: 200px;
  margin-left: 100px;
}

nav {
  margin-top: 30px;
}

nav a {
  color: black;
}

nav a:hover {
  color: #e6477d
}

.admin-nav {
  padding: 30px 50px;
}

h1 {
  font-size: 40px;
  padding: 20px;
}

h3 {
  padding: 20px;
}

a {
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
}

p, h2, h3, form {
  font-size: 20px;
}

img {
  max-width: 400px;
  max-height: 400px;
  padding-bottom: 10px;
}

.matches-text {
  text-align: center;
  margin-top: 50px;
}

.matches {
  display: flex;
  flex-flow: column nowrap;
  margin: 50px auto;
  width: 800px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.chat-container {
  padding: 50px;
  margin: 50px auto;
  width: 800px;
  height: 500px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.profile-container {
  display: flex;
  flex-flow: row nowrap;
  padding: 50px;
  margin: 100px auto 50px;
  width: 1000px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.profile-info h2 {
  font-size: 40px;
  padding-bottom: 20px;
  text-indent: 20px;
}
.profile-info h3, p{
  padding-bottom: 10px;
}

.profile-info p {
  text-indent: 20px;
}

.edit-profile {
  display: flex;
  justify-content: center;
}

.days {
  padding: 0px;
}

.days li {
  display: inline-block;
}

.form-container {
  padding-top: 50px;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input, .form textarea, .chatbox{
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button, .button {
  text-transform: uppercase;
  outline: 0;
  background: #eb5d6b;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus, .button:hover, .button:active, .button:focus {
  background: #e6477d;
}

.button-container {
  display: flex;
  flex-flow: column;
}

.button {
  margin-bottom: 10px;
}

.edit-button{
  width: 300px;
  margin-bottom: 50px;
}

/* LEAVE THESE HERE*/

.match-button-container {
  display: flex;
  flex-flow: row;
  margin: 10px 160px;
}

.match-button {
  width: 200px;
  text-align: center;
}

.index-container {
  display: flex;
  flex-flow: row nowrap;
  padding: 60px 250px;
}

.index-img-container {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
}

.index-img-container img {
  height: !important;
}

.thor {
  -ms-transform: rotate(-10deg); /* IE 9 */
  -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
  transform: rotate(-10deg);
}

.diana {
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(7deg);
  align-self: center;
}

.index-text {
  font-size: 40px;
  text-align: center;
  align-self: center;
}

footer {
  font-weight: 100;
  text-align: center;
  padding-top: 70px;
}

footer img {
  display: inline;
  width: 1%;
}

.chat { margin: 0; padding: 0; box-sizing: border-box; }
.chat form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
.chat form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
.chat form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: rgba(235,93,107,.1); }
