<h2>Matches</h2>
<p>Here are you future lovers!</p>

<ul>
  <% listOfUsers.forEach((oneUser) => { %>
    <li>
      <h3> <%= oneUser.fullName %> </h3>
      <a href="/match/<%=oneUser._id%>">Check Out</a>
    </li>
  <% }); %>
</ul>
