<div class="profile-container">
  <div class="profile-img">
    <img src="<%= userProfile.imageUrl %>">
  </div>
  <div class="profile-info">
    <h2> <%= userProfile.fullName %></h2>
    <h3>Profession</h3>
    <p> <%= userProfile.profession %></p>
    <h3>Days Off</h3>
    <p></p>
    <h3>Bio</h3>
    <p><%= userProfile.bio %></p>
  </div>
</div>
